<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Recurrent</th>
            <th scope="col">Status</th>
            <th scope="col">Price</th>
            <th scope="col">Due date</th>
        </tr>
    </thead>
    <% services.each do |service| %>
        <tr>
            <td><%= service.name %></td>
            <td><%= service.recurrent %></td>
            <td><%= service.status %></td>
            <td><%= number_to_currency(service.price) %></td>
            <td><%= service.due_date  %></td>
            <td><%= button_to "Pay this service", pay_service_path(service), class:"btn btn-primary" %></td>
        </tr>
    <% end %>
</table>