
<div>
  <div class="my-3">
    <%= link_to "Back to projects", projects_path %>
  </div>

  <%= render @project %>

  <% ['hosting'].each do |service| %>
    <%= button_to "Add #{service} service", add_project_service_path(@project, service:service), class:"btn btn-primary" %>
  <% end %>


  <%= render 'services', services: @project.services %>

  <div class="-grid gap-2 d-md-flex justify-content-md-end">
    <%= link_to "Edit this project", edit_project_path(@project), class: 'btn btn-warning' %>
    <%= button_to "Destroy this project", @project, method: :delete, class: 'btn btn-danger' %>
  </div>

</div>
