
<div>
  <div class="my-3">
    <%= link_to "Back to projects", projects_path %>
  </div>

  <%= render @project %>

<%= form_tag("/projects/#{@project.id}/service/", method: "post") do %>
    <%= select_tag(:service, options_for_select(['Hosting','Domain','SSL','Email'], 'Hosting'), :class=>"form-select") %>  
    <%= submit_tag("Add Service", :class => "btn btn-primary my-2") %>
<% end %>


  <%= render 'services', services: @project.services %>

  <div class="-grid gap-2 d-md-flex justify-content-md-end">
    <%= link_to "Edit this project", edit_project_path(@project), class: 'btn btn-warning' %>
    <%= button_to "Destroy this project", @project, method: :delete, class: 'btn btn-danger' %>
  </div>

</div>
